.adventage {
  overflow-x: hidden;
  @include block-model(0, 94px 0);

  &::-webkit-scrollbar {
    display: none;
  }

  &__list {
    // @extend %flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 480px) {
      display: grid;
      grid-template: repeat(4, 224px) / repeat(1, 450px);
      gap: 30px;
      justify-content: center;
    }

    @media screen and (min-width: 768px) {
      grid-template: repeat(2, 224px) / repeat(2, 354px);
    }

    @media screen and (min-width: 1200px) {
      grid-template: repeat(1, 1fr) / repeat(4, 270px);
    }
  }

  &__item {
    // @include size(100%, 120px);

    &::before {
      content: "";

      @include size(100%, 120px);
      @include block-model(0 0 30px);
      display: block;

      background: center no-repeat #f5f4fa;

      // @media screen and (min-width: 480px) {
      //   @include size(450px, 120px)
      // }

      // @media screen and (min-width: 480px) {
      //   @include size(354px, 120px)
      // }

      // @media screen and (min-width: 480px) {
      //   @include size(270px, 120px)
      // }
    }

    &:nth-child(1)::before {
      background-image: url(../../images/icons/antenna.svg);
    }

    &:nth-child(2)::before {
      background-image: url(../../images/icons/clock.svg);
    }

    &:nth-child(3)::before {
      background-image: url(../../images/icons/diagram.svg);
    }

    &:nth-child(4)::before {
      background-image: url(../../images/icons/astronaut.svg);
    }
  }

  &__title {
    @include block-model(0 0 10px);

    @include text-styles(14px, 1.14);
    color: $text-color;
    font-weight: 700;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__description {
    max-width: 100%;

    @include text-styles(14px, 1.71);
    color: #757575;

    @media screen and (min-width: 480px) {
      max-width: 450px;
    }

    @media screen and (min-width: 768px) {
      max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 270px;
    }
  }
}
