.adventage {
  @include block-model(0, 94px 0);

  &__list {
    @extend %flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__item {
    // opacity: 0;  

    &::before {
      content: "";

      @include size(100%, 120px);
      @include block-model(0 0 30px);
      display: block;

      background: center no-repeat #f5f4fa;

      @media screen and (min-width: 480px) {
        @include size(450px, 120px);
      }
    }

    &:nth-child(1)::before {
      background-image: url(../../images/icons/antenna.svg);
    }

    &:nth-child(2)::before {
      background-image: url(../../images/icons/clock.svg);
    }

    &:nth-child(3)::before {
      background-image: url(../../images/icons/diagram.svg);
    }

    &:nth-child(4)::before {
      background-image: url(../../images/icons/astronaut.svg);
    }
  }

  &__title {
    @include block-model(0 0 10px);

    @include text-styles(14px, 1.14);
    color: $text-color;
    font-weight: 700;
  }

  &__description {
    max-width: 270px;

    @include text-styles(14px, 1.71);
    color: #757575;
  }
}
