.clients {
  padding: 94px 0;

  &__title {
    margin: 0 0 50px;

    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }

  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  &__item {
    width: 170px;
  }

  &__focus {
    border-radius: 4px;
    border: 1px solid #afb1b8;
    padding: 16px 32px;

    cursor: pointer;

    transition: border $transition;

    &:hover,
    &:focus {
      border: 1px solid $blue;
    }

    &:hover .clients__icon,
    &:focus .clients__icon {
      fill: $blue;
    }
  }

  &__icon {
    outline: none;

    transition: fill $transition;
  }

  &__icon {
    width: 106px;
    height: 60px;

    fill: #afb1b8;
  }
}
