.clients {
  @include block-model(0, 94px 0);

  &__title {
    @include block-model(0 0 50px);

    @include text-styles(36px, normal, 1.08px);
    color: $text-color;
    text-align: center;
    font-weight: 700;
  }

  &__list {
    @extend %flex;
    gap: 30px;
  }

  &__item {
    @include size(170px);
  }

  &__focus {
    @include block-model(0, 16px 32px, 1px solid $grey, 4px);

    cursor: pointer;

    transition: border $transition;

    &:hover,
    &:focus {
      @include block-model(0, 16px 32px, 1px solid $blue, 4px);
    }

    &:hover .clients__icon,
    &:focus .clients__icon {
      fill: $blue;
    }
  }

  &__icon {
    outline: none;

    transition: fill $transition;
  }

  &__icon {
    @include size(106px, 60px);

    fill: $grey;
  }
}
