.hero {
  padding: 200px 0;

  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../../images/main/hero-bg.webp) center / cover no-repeat #2f303a;
}

.hero-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  margin: 0 0 30px;
  max-width: 696px;

  color: #ffffff;
  text-align: center;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  font-weight: 900;
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  font-weight: 700;
  background-color: var(--blue);

  animation: reminderButton 4500ms cubic-bezier(0.4, 0, 0.2, 1) 3000ms infinite;
}
