.team {
    padding: 94px 0;

    background-color: #F5F4FA;
}

.team__title {
    margin: 0 0 50px;

    font-size: 36px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.16;
    color: $text-color;
    text-align: center;
}

.team__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team__item {
    padding: 0 0 30px;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__img {
    width: 270px;
    height: 260px;
}

.team__subtitle {
    margin: 30px 0 10px;

    font-size: 16px;
    letter-spacing: 0.03em;
    color: $text-color;
    line-height: 1.18;
    text-align: center;
    font-weight: 500;
}

.team__description {
    color: #757575;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.18;
    text-align: center;
}