* {
    font-family: 'Roboto';
    font-weight: 400;
}

*::selection {
    color: #FFF;

    background-color: #2196F3;
}

body {
    padding-top: 80px;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    display: flex;
}