* {
    font-family: 'Roboto';
    font-weight: 400;
}

*::selection {
    color: #FFF;

    background-color: #2196F3;
}

body {
    padding-top: 80px;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    display: flex;
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    height: 80px;
    padding: 24px 0 25px;
    border-bottom: 1px solid #ECECEC;

    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    /* box-shadow: 5px 0 10px 7px rgba(51, 51, 51, 0.466); */
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-span1 {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.header-span2 {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.header-pages {
    margin-left: 93px;

    display: flex;
    gap: 50px;
    align-items: center;
}

.header-item {
    position: relative;
}

.header-page {
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    font-weight: 500;

    outline: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page:hover,
.header-page:focus {
    color: #2196F3;
    outline: none;
}


.active-page {
    color: #2196F3;
}

.header-item:nth-child(1) .header-page::after {
    content: '';

    position: absolute;
    top: 44.5px;
    left: 50%;

    display: block;
    width: 0;
    height: 4px;
    border-radius: 2px;

    background-color: #2196F3;
    transform: translatex(-50%);
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:nth-child(1) .header-page:hover::after,
.header-item:nth-child(1) .header-page:focus::after {
    width: 48px;

    opacity: 1;
}

.header-item:nth-child(3) .header-page::after {
    content: '';

    position: absolute;
    top: 44.5px;
    left: 50%;

    display: block;
    width: 0;
    height: 4px;
    border-radius: 2px;

    background-color: #2196F3;
    transform: translatex(-50%);
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), width 250ms cubic-bezier(0.4, 0, 0.2, 1), height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:nth-child(3) .header-page:hover::after,
.header-item:nth-child(3) .header-page:focus::after {
    width: 64px;

    opacity: 1;
}

.active-page::after {
    content: '';

    position: absolute;
    top: 44.5px;
    left: 50%;

    display: block;
    width: 78px;
    height: 4px;
    border-radius: 2px;

    background-color: #2196F3;

    transform: translatex(-50%);
}

.header-contacts {
    margin-left: auto;

    display: flex;
    gap: 50px;
    align-items: center;
}

.header-icon {
    fill: #757575;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
    color: #757575;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
    color: #2196F3;
    outline: none;
}

.header-link:hover .header-icon,
.header-link:focus .header-icon {
    fill: #2196F3;
    outline: none;
}

/* navigation */

.navigation {
    padding: 94px 0 50px;
}

.navigation-list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.navigation-btn {
    padding: 6px 21px 6px 23px;
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    font-weight: 500;

    background-color: #F5F4FA;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-btn:hover,
.navigation-btn:focus {
    color: #FFFFFF;

    background-color: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}


/* gallery */

.gallery {
    padding-bottom: 94px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.gallery-item {
    border: 1px solid #EEEEEE;

    flex-basis: calc((100% - 60px) / 3);
}

.gallery-focus {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-focus:hover,
.gallery-focus:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    outline: none;
}

.gallery-container {
    padding: 20px 20px 20px 24px;
}

.gallary-overflow {
    position: relative;

    overflow: hidden;
}

.gallery-img {
    width: 368px;
    height: 294px;
}

.gallery-overlay {
    position: absolute;
    top: 294px;
    left: 0;
    z-index: -1;

    width: 370px;
    height: 294px;
    padding: 63px 24px;

    background: rgba(33, 150, 243, 0.90);
    opacity: 0;

    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), top 250ms cubic-bezier(0.4, 0, 0.2, 1), z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-focus:hover .gallary-overflow .gallery-overlay,
.gallery-focus:focus .gallary-overflow .gallery-overlay {
    top: 0;
    z-index: 0;

    opacity: 1;
}

.gallery-text {
    color: #FFF;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.54px;
}

.gallery-title {
    margin-bottom: 4px;

    color: #212121;
    font-size: 18px;
    letter-spacing: 0.06em;
    font-weight: 700;
    line-height: 2;
}

.gallery-description {
    color: #757575;
    font-size: 16px;
    letter-spacing: 3%;
    line-height: 1.87;
}

/* footer */

.footer {
    padding: 60px 0;

    background-color: #2F303A;
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 90px;
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

.footer-flex2 {
    display: flex;
    flex-direction: column;
}

.footer-span {
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.footer-span1 {
    color: #2196F3;
}

.footer-span2 {
    color: #FFFFFF;
}

.footer-adress {
    margin-bottom: 9px;

    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-contact {
    color: rgba(255, 255, 255, 60%);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-title {
    margin-bottom: 20px;

    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-focus {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.10);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-focus:hover,
.footer-focus:focus {
    background-color: #2196F3;
    outline: none;
}

.footer-icon {
    width: 20px;
    height: 20px;

    fill: #FFF;
}

.footer-form {
    display: flex;
    align-items: flex-end;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-label {
    margin-bottom: 20px;

    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 0 16px;

    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.48px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
    border: 1px solid #2196F3;
}

.footer-input::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.48px;
}

.footer-btn {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    border-radius: 4px;
    padding: 10px 28px;

    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    gap: 10px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    transform: scale(1.075);
}

.footer-span3 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
}

.footer-subscribe {
    width: 24px;
    height: 24px;

    fill: #fff;
}