h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  display: block;
  cursor: pointer;
  display: block;
  outline: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: linear-gradient(#2196f3, #1b81d4);
}
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(#1b81d4, #1475c5);
}

* {
  font-family: "Roboto";
}
*::-moz-selection {
  color: #fff;
  background-color: #2196f3;
}
*::selection {
  color: #fff;
  background-color: #2196f3;
}

body {
  padding-top: 80px;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: flex;
}
.logo__span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}
.logo__span--blue {
  color: #2196f3;
}
.logo__span--black {
  color: #000000;
}
.logo__span--white {
  color: #fff;
}

.contacts-list {
  display: flex;
}
.contacts-list--header {
  margin: 0 0 0 auto;
  gap: 50px;
  align-items: center;
}
.contacts-list--footer {
  gap: 9px;
  flex-direction: column;
}
.contacts-list__contact--footer {
  width: 136px;
}
.contacts-list__link {
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link--header {
  font-weight: 500;
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}
.contacts-list__link:hover .contacts-list__icon, .contacts-list__link:focus .contacts-list__icon {
  fill: #2196f3;
}
.contacts-list__icon {
  fill: #757575;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__icon--envelope {
  width: 16px;
  height: 12px;
}
.contacts-list__icon--tel {
  width: 10px;
  height: 16px;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social--team {
  margin: 16px 0 0;
}
.social__focus {
  padding: 12px;
  border-radius: 50%;
  background-color: #fff;
  animation: borderRadius 2000ms cubic-bezier(0.4, 0, 0.2, 1) infinite paused;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__focus:hover, .social__focus:focus {
  background-color: #2196f3;
  animation-play-state: running;
}
.social__focus:hover .social__icon, .social__focus:focus .social__icon {
  fill: #fff;
}
.social__focus--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.social__icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon--footer {
  fill: #fff;
}

@keyframes reminderButton {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.4);
  }
  30% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  25% {
    border-radius: 16px;
  }
  50% {
    border-radius: 8px;
  }
  75% {
    border-radius: 16px;
  }
  100% {
    border-radius: 50%;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px;
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__pages {
  margin: 0 0 0 93px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.header__page {
  position: relative;
}
.header__link {
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
}
.header__link--active {
  position: relative;
  color: #2196f3;
}
.header__link--active::after {
  content: "";
  position: absolute;
  top: 44.5px;
  left: 50%;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: translatex(-50%);
}
.header__link--studio {
  position: relative;
}
.header__link--studio::after {
  content: "";
  position: absolute;
  top: 44.5px;
  left: 50%;
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link--studio:hover::after, .header__link--studio:focus::after {
  width: 100%;
  opacity: 1;
}
.header__link--portfolio {
  position: relative;
}
.header__link--portfolio::after {
  content: "";
  position: absolute;
  top: 44.5px;
  left: 50%;
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link--portfolio:hover::after, .header__link--portfolio:focus::after {
  width: 100%;
  opacity: 1;
}
.header__link--contacts {
  position: relative;
}
.header__link--contacts::after {
  content: "";
  position: absolute;
  top: 44.5px;
  left: 50%;
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link--contacts:hover::after, .header__link--contacts:focus::after {
  width: 100%;
  opacity: 1;
}

.navigation {
  padding: 94px 0 50px;
}
.navigation__list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.navigation__btn {
  padding: 6px 21px 6px 23px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-weight: 500;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__btn:hover, .navigation__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.gallery {
  padding: 0 0 94px;
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.gallery__item {
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
}
.gallery__focus {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__focus:hover, .gallery__focus:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.gallery__focus:hover > .gallary__overflow::before, .gallery__focus:focus > .gallary__overflow::before {
  top: 0;
}
.gallery__focus:hover .gallery__text, .gallery__focus:focus .gallery__text {
  top: 63px;
}
.gallery__box {
  padding: 20px 20px 20px 24px;
}
.gallery .gallary__overflow {
  position: relative;
  overflow: hidden;
}
.gallery .gallary__overflow::before {
  content: "";
  position: absolute;
  top: 294px;
  left: 0;
  display: block;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__img {
  width: 368px;
  height: 294px;
}
.gallery__text {
  position: absolute;
  top: 294px;
  left: 24px;
  max-width: 322px;
  color: #fff;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.54px;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__title {
  margin: 0 0 4px;
  color: #212121;
  font-size: 18px;
  letter-spacing: 0.06em;
  font-weight: 700;
  line-height: 2;
}
.gallery__description {
  color: #757575;
  font-size: 16px;
  letter-spacing: 3%;
  line-height: 1.87;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer__container {
  display: flex;
  align-items: center;
  gap: 90px;
}
.footer__flex {
  display: flex;
  flex-direction: column;
}
.footer__adress {
  margin: 20px 0 9px;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.footer__title {
  margin: 0 0 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__form {
  display: flex;
  align-items: flex-end;
}
.footer__label {
  margin: 0 0 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 16px;
  background-color: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input:focus {
  border: 1px solid #2196f3;
}
.footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footer__btn {
  width: 200px;
  height: 50px;
  margin: 0 0 0 12px;
  border-radius: 4px;
  padding: 10px 28px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn:hover, .footer__btn:focus {
  transform: scale(1.075);
}
.footer__span--form {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}
.footer__icon--form {
  width: 24px;
  height: 24px;
  fill: #fff;
}/*# sourceMappingURL=portfolio.css.map */