h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  display: block;
  cursor: pointer;
  display: block;
  outline: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

/* variables */
:root {
  --blue: #2196F3;
  --text-color: #212121;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: linear-gradient(#2196F3, #1b81d4);
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(#1b81d4, #1475c5);
}

/* common styles */
* {
  font-family: "Roboto";
  font-weight: 400;
}

*::-moz-selection {
  color: #FFF;
  background-color: #2196F3;
}

*::selection {
  color: #FFF;
  background-color: #2196F3;
}

body {
  padding-top: 80px;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: flex;
}

@keyframes reminderButton {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.4);
  }
  30% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  25% {
    border-radius: 16px;
  }
  50% {
    border-radius: 8px;
  }
  75% {
    border-radius: 16px;
  }
  100% {
    border-radius: 50%;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px;
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-span1 {
  color: var(--blue);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.header-span2 {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.header-pages {
  margin: 0 0 0 93px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-item {
  position: relative;
}

.header-page {
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  font-weight: 500;
  transition: color var(--transition);
}

.header-page:hover,
.header-page:focus {
  color: var(--blue);
}

.active-page {
  color: var(--blue);
}

.active-page::after {
  content: "";
  position: absolute;
  top: 44.5px;
  left: 50%;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
  transform: translatex(-50%);
}

.studio-page::after {
  content: "";
  position: absolute;
  top: 44.5px;
  left: 50%;
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity var(--transition), width var(--transition);
}

.studio-page:hover::after,
.studio-page:focus::after {
  width: 100%;
  opacity: 1;
}

.portfolio-page::after {
  content: "";
  position: absolute;
  top: 44.5px;
  left: 50%;
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity var(--transition), width var(--transition);
}

.portfolio-page:hover::after,
.portfolio-page:hover::after {
  width: 100%;
  opacity: 1;
}

.contacts-page::after {
  content: "";
  position: absolute;
  top: 44.5px;
  left: 50%;
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity var(--transition), width var(--transition);
}

.contacts-page:hover::after,
.contacts-page:focus::after {
  width: 100%;
  opacity: 1;
}

.header-contacts {
  margin: 0 0 0 auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-icon {
  fill: #757575;
  outline: none;
  transition: fill var(--transition);
}

.header-link:hover .header-icon,
.header-link:focus .header-icon {
  fill: var(--blue);
}

.header-link {
  color: #757575;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color var(--transition);
}

.header-link:hover,
.header-link:focus {
  color: var(--blue);
}

.navigation {
  padding: 94px 0 50px;
}

.navigation-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.navigation-btn {
  padding: 6px 21px 6px 23px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  font-weight: 500;
  background-color: #F5F4FA;
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
}

.navigation-btn:hover,
.navigation-btn:focus {
  color: #FFFFFF;
  background-color: var(--blue);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.gallery {
  padding: 0 0 94px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.gallery-item {
  border: 1px solid #EEEEEE;
  flex-basis: calc((100% - 60px) / 3);
}

.gallery-focus {
  transition: box-shadow var(--transition);
}

.gallery-focus:hover,
.gallery-focus:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.gallery-container {
  padding: 20px 20px 20px 24px;
}

.gallary-overflow {
  position: relative;
  overflow: hidden;
}

.gallary-overflow::before {
  content: "";
  position: absolute;
  top: 294px;
  left: 0;
  display: block;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: top var(--transition);
}

.gallery-focus:hover > .gallary-overflow::before,
.gallery-focus:focus > .gallary-overflow::before {
  top: 0;
}

.gallery-img {
  width: 368px;
  height: 294px;
}

.gallery-text {
  position: absolute;
  top: 294px;
  left: 24px;
  max-width: 322px;
  color: #FFF;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.54px;
  transition: top var(--transition);
}

.gallery-focus:hover .gallery-text,
.gallery-focus:focus .gallery-text {
  top: 63px;
}

.gallery-title {
  margin: 0 0 4px;
  color: var(--text-color);
  font-size: 18px;
  letter-spacing: 0.06em;
  font-weight: 700;
  line-height: 2;
}

.gallery-description {
  color: #757575;
  font-size: 16px;
  letter-spacing: 3%;
  line-height: 1.87;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 90px;
}

.footer-flex {
  display: flex;
  flex-direction: column;
}

.footer-flex2 {
  display: flex;
  flex-direction: column;
}

.footer-span {
  margin: 0 0 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.footer-span1 {
  color: var(--blue);
}

.footer-span2 {
  color: #ffffff;
}

.footer-adress {
  margin: 0 0 9px;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.footer-socials {
  display: flex;
  gap: 10px;
}

.footer-title {
  margin: 0 0 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-focus {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  animation: borderRadius 2000ms cubic-bezier(0.4, 0, 0.2, 1) infinite paused;
  transition: background-color var(--transition);
}

.footer-focus:hover,
.footer-focus:focus {
  background-color: var(--blue);
  animation-play-state: running;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-label {
  margin: 0 0 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 16px;
  background-color: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
  transition: border var(--transition);
}

.footer-input:focus {
  border: 1px solid var(--blue);
}

.footer-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-btn {
  width: 200px;
  height: 50px;
  margin: 0 0 0 12px;
  border-radius: 4px;
  padding: 10px 28px;
  background-color: var(--blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform var(--transition);
}

.footer-btn:hover,
.footer-btn:focus {
  transform: scale(1.075);
}

.footer-span3 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.footer-subscribe {
  width: 24px;
  height: 24px;
  fill: #fff;
}/*# sourceMappingURL=portfolio.css.map */