* {
    font-family: 'Roboto';
    font-weight: 400;
}

*::selection {
    color: #FFF;

    background-color: #2196F3;
}

body {
    padding-top: 80px;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: solid red; */
}

/* header,
section,
footer {
    outline: solid green;
} */

.logo {
    display: flex;
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    height: 80px;
    padding: 24px 0 25px;
    border-bottom: 1px solid #ECECEC;

    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-span1 {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.header-span2 {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.header-pages {
    margin-left: 93px;

    display: flex;
    gap: 50px;
    align-items: center;
}

.header-item {
    position: relative;
}

.header-page {
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    font-weight: 500;

    outline: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page:hover,
.header-page:focus {
    color: #2196F3;

    outline: none;
}

.active-page {
    color: #2196F3;
}

.header-item:nth-child(2) .header-page::after {
    content: '';

    position: absolute;
    top: 44.5px;
    left: 50%;

    display: block;
    width: 0;
    height: 0;
    border-radius: 2px;

    background-color: #2196F3;
    transform: translatex(-50%);
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), width 250ms cubic-bezier(0.4, 0, 0.2, 1), height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:nth-child(2) .header-page:hover::after,
.header-item:nth-child(2) .header-page:focus::after {
    width: 72px;
    height: 4px;

    opacity: 1;
}

.header-item:nth-child(3) .header-page::after {
    content: '';

    position: absolute;
    top: 44.5px;
    left: 50%;

    display: block;
    /* width: 64px;
    height: 4px; */
    width: 0;
    height: 0;
    border-radius: 2px;

    background-color: #2196F3;
    transform: translatex(-50%);
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), width 250ms cubic-bezier(0.4, 0, 0.2, 1), height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:nth-child(3) .header-page:hover::after,
.header-item:nth-child(3) .header-page:focus::after {
    width: 64px;
    height: 4px;

    opacity: 1;
}

.active-page::after {
    content: '';

    position: absolute;
    top: 44.5px;
    left: 50%;

    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;

    background-color: #2196F3;
    transform: translatex(-50%);
}

.header-contacts {
    margin-left: auto;

    display: flex;
    gap: 50px;
    align-items: center;
}

.header-icon {
    fill: #757575;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
    color: #757575;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
    color: #2196F3;
    outline: none;
}

.header-link:hover .header-icon,
.header-link:focus .header-icon {
    fill: #2196F3;
    outline: none;
}

/* hero */

.hero {
    padding: 200px 0;

    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero-bg.webp) center / cover no-repeat #2F303A;
}

.hero-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    margin-bottom: 30px;
    max-width: 696px;

    color: #FFFFFF;
    text-align: center;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-transform: uppercase;
    font-weight: 900;
}

.hero-btn {
    padding: 10px 32px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.87;
    font-weight: 700;
    background-color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    transform: scale(1.075);
}

/* adventage */

.adventage {
    padding: 94px 0;
}

.adventage-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.adventage-item::before {
    content: '';

    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background: #F5F4FA center no-repeat;
}

.adventage-item:nth-child(1)::before {
    background-image: url(../images/icons/antenna.svg);
}

.adventage-item:nth-child(2)::before {
    background-image: url(../images/icons/clock.svg);
}

.adventage-item:nth-child(3)::before {
    background-image: url(../images/icons/diagram.svg);
}

.adventage-item:nth-child(4)::before {
    background-image: url(../images/icons/astronaut.svg);
}

.adventage-title {
    margin-bottom: 10px;

    color: #212121;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.14;
}

.adventage-description {
    max-width: 270px;

    color: #757575;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

/* classes */

.classes {
    padding-bottom: 94px;
}

.classes-title {
    margin-bottom: 50px;

    font-size: 36px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.16;
    color: #212121;
    text-align: center;
}

.classes-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.classes-item {
    position: relative;
}

.classes-img {
    width: 370px;
    height: 294px;
}

.classes-text {
    position: absolute;
    left: 0;
    bottom: 0;

    padding: 27px 0;
    width: 370px;
    height: 70px;

    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    background-color: rgba(47, 48, 58, 0.80);
}

/* team */

.team {
    padding: 94px 0;

    background-color: #F5F4FA;
}

.team-title {
    margin-bottom: 50px;

    font-size: 36px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.16;
    color: #212121;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-item {
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-img {
    width: 270px;
    height: 260px;
}

.team-subtitle {
    margin: 30px 0 10px;

    font-size: 16px;
    letter-spacing: 0.03em;
    color: #212121;
    line-height: 1.18;
    text-align: center;
    font-weight: 500;
}

.team-description {
    color: #757575;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.18;
    text-align: center;
}

.team-socials {
    margin-top: 16px;

    display: flex;
    gap: 10px;
    justify-content: center;
}

.team-box {
    padding: 12px;
    border-radius: 50%;

    background-color: #FFF;

    transition: background-color 250ms ease-in-out;
}

.team-box:hover,
.team-box:focus {
    background-color: #2196F3;
    outline: none;
}

.team-icon {
    transition: fill 250ms ease-in-out;
}

.team-box:hover .team-icon,
.team-box:focus .team-icon {
    fill: #FFF;
    outline: none;
}

.team-icon {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: #AFB1B8;
}

/* clients */

.clients {
    padding: 94px 0;
}

.clients-title {
    margin-bottom: 50px;

    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.clients-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.clients-item {
    width: 170px;
}

.clients-focus {
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px;

    cursor: pointer;

    transition: border 250ms ease-out;
}

.clients-focus:hover,
.clients-focus:focus {
    border: 1px solid #2196F3;
    outline: none;
}

.clients-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-focus:hover .clients-icon,
.clients-focus:focus .clients-icon {
    fill: #2196F3;
    outline: none;
}

.clients-icon {
    width: 106px;
    height: 60px;

    fill: #AFB1B8;
}

/* footer */

.footer {
    padding: 60px 0;

    background-color: #2F303A;
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 90px;
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

.footer-flex2 {
    display: flex;
    flex-direction: column;
}

.footer-span {
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.footer-span1 {
    color: #2196F3;
}

.footer-span2 {
    color: #FFFFFF;
}

.footer-adress {
    margin-bottom: 9px;

    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-contact {
    color: rgba(255, 255, 255, 60%);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-title {
    margin-bottom: 20px;

    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-focus {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.10);

    transition: background-color 250ms ease-in-out;
}

.footer-focus:hover,
.footer-focus:focus {
    background-color: #2196F3;
    outline: none;
}

.footer-icon {
    width: 20px;
    height: 20px;

    fill: #FFF;
}

.footer-form {
    display: flex;
    align-items: flex-end;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-label {
    margin-bottom: 20px;

    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 0 16px;

    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.48px;

    transition: border 250ms linear;
}

.footer-input:focus {
    border: 1px solid #2196F3;
}

.footer-input::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.48px;
}

.footer-btn {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    border-radius: 4px;
    padding: 10px 28px;

    background-color: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    gap: 10px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    transform: scale(1.075);
}

.footer-span3 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
}

.footer-subscribe {
    width: 24px;
    height: 24px;

    fill: #fff;
}