extends ./base/layout 

block content 

	include ./utils/vars
	include ./utils/mixins

	include ./components/header
	main
		include ./partials/main/hero
		include ./partials/main/adventage
		include ./partials/main/classes
		include ./partials/main/team
		include ./partials/main/clients 
	include ./components/footer
	include ./partials/main/modal

	include ./base/scripts