extends ./base/layout 

block content 

	include ./utils/vars
	include ./utils/mixins

	include ./components/header
	include ./partials/main/hero
	include ./partials/main/adventage
	include ./partials/main/classes

	include ./base/scripts