body {
    font-family: Roboto;
}

.logo {
    font-family: Raleway;
    font-size: 26px;
}

.first-header-logo-span {
    color: #2196F3;
}

.second-header-logo-span {
    color: black;
}

.main-h1 {
    font-size: 44px;
}

.main-btn {
    font-size: 16px;
    background-color: #2196F3;
    color: white;
}

.our-classes-h2 {
    font-size: 36px;
}

.out-team-h2 {
    font-size: 36px;
}

.name-people {
    font-size: 16px;
}

.job-people {
    font-size: 16px;
}

.first-footer-logo-span {
    color: #2196F3;
}

.second-footer-logo-span {
    color: white;
}

.mail:hover {
    color: #2196F3;
}

.mail:focus {
    color: #2196F3;
}


.studio-header:hover {
    color: #2196F3;
}

.studio-header:focus {
    color: #2196F3;
}