-
	//- mixins

	let socialListVar = [
		{
			linkHref: 'https://www.instagram.com/',
			useHref: './images/icons/sprite.svg#icon-instagram'
		},
		{
			linkHref: 'https://twitter.com/',
			useHref: './images/icons/sprite.svg#icon-twitter'
		},
		{
			linkHref: 'https://www.facebook.com/',
			useHref: './images/icons/sprite.svg#icon-facebook'
		},
		{
			linkHref: 'https://www.linkedin.com/',
			useHref: './images/icons/sprite.svg#icon-linkedin'
		}
	]

	//- header

	let navigationList = [
		{
			secondPageClass: 'header__link--active',
			pageContent: 'Студія',
			pageHref: './index.html'
		},
		{
			secondPageClass: 'header__link--portfolio',
			pageContent: 'Портфолі',
			pageHref: './portfolio.html'
		},
		{
			secondPageClass: 'header__link--contacts',
			pageContent: 'Контакти',
			pageHref: './index.html'
		}
	]

	let contactsListVar = [
		{
			linkHref: 'mailto:info@devstudio.com',
			linkContent: 'info@devstudio.com',
			secondIconClass: 'contacts-list__icon--envelope',
			useHref: './images/icons/sprite.svg#icon-envelope'
		},
		{
			linkHref: 'tel:+380961111111',
			linkContent: '+38 096 111 11 11',
			secondIconClass: 'contacts-list__icon--tel',
			useHref: './images/icons/sprite.svg#icon-smartphone'
		}
	]

	//- adventage
	
	let adventageListVar = [
		{
			aos: 'fade-up-right',
			titleContent: 'УВАГА ДО ДЕТАЛЕЙ',
			textContent: 'Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.'
		},
		{
			aos: 'fade-up-right',
			aosDelay: 100,
			titleContent: 'ПУНКТУАЛЬНІСТЬ',
			textContent: 'Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.'
		},
		{
			aos: 'fade-up-left',
			aosDelay: 100,
			titleContent: 'ПЛАНУВАННЯ',
			textContent: 'Так само консультація з широким активом значною мірою зумовлює.'
		},
		{
			aos: 'fade-up-left',
			titleContent: 'СУЧАСНІ ТЕХНОЛОГІЇ',
			textContent: 'Значимість цих проблем настільки очевидна, що реалізація планових завдань.'
		}
	]

	// classes

	let classesListVar = [
		{
			aos: 'flip-left',
			aosDelay: '500',
			imgSrc: './images/main/classes-1.webp',
			imgAlt: 'картинка планшета',
			textContent: 'Десктопні додатки'
		},
		{
			aos: 'flip-up',
			imgSrc: './images/main/classes-2.webp',
			imgAlt: 'картинка ноутбука',
			textContent: 'Мобільні додатки'
		},
		{
			aos: 'flip-right',
			aosDelay: '1000',
			imgSrc: './images/main/classes-3.webp',
			imgAlt: 'картинка ноутбука',
			textContent: 'Дизайнерські рішення'
		}
	]

	//- team

	let teamListVar = [
		{
			aos: 'fade-up',
			imgSrc: './images/main/team-1.webp',
			subtitleContent: 'Ігор Дем\'яненко',
			textContent: 'Product Designer'
		},
		{
			aos: 'fade-down',
			aosDelay: '500',
			imgSrc: './images/main/team-2.webp',
			subtitleContent: 'Ольга Рєпіна',
			textContent: 'Frontend Developer'
		},
		{
			aos: 'fade-up',
			aosDelay: '1000',
			imgSrc: './images/main/team-3.webp',
			subtitleContent: 'Микола Тарасов',
			textContent: 'Marketing'
		},
		{
			aos: 'fade-down',
			aosDelay: '1500',
			imgSrc: './images/main/team-4.webp',
			subtitleContent: 'Михайло Єрмаков',
			textContent: 'UI Designer'
		}
	]

	//- clients

	let clientsListVar = [
		{
			aos: 'zoom-in',
			useHref: './images/icons/sprite.svg#icon-company1'
		},
		{
			aos: 'zoom-out',
			useHref: './images/icons/sprite.svg#icon-company2'
		},
		{
			aos: 'zoom-in',
			useHref: './images/icons/sprite.svg#icon-company3'
		},
		{
			aos: 'zoom-out',
			useHref: './images/icons/sprite.svg#icon-company4'
		},
		{
			aos: 'zoom-in',
			useHref: './images/icons/sprite.svg#icon-company5'
		},
		{
			aos: 'zoom-out',
			useHref: './images/icons/sprite.svg#icon-company6'
		}
	]

	//- footer

	let footerListVar = [
		{
			linkHref: 'mailto:info@devstudio.com',
			linkContent: 'info@devstudio.com'
		},
		{
			linkHref: 'tel:+380961111111',
			linkContent: '+38 096 111 11 11'
		}
	]

	//- modal

	let modalInputsVar = [
		{
			labelFor: 'name',
			labelContent: 'Ім\'я',
			inputId: 'name'
		},
		{
			labelFor: 'tel',
			labelContent: 'Телефон',
			inputId: 'tel',
			inputType: 'tel'
		},
		{
			labelFor: 'mail',
			labelContent: 'Пошта',
			inputId: 'mail',
			inputType: 'email'
		}
	]