// scrollbar

::-webkit-scrollbar {
  width: 15px;

  &-track {
    background-color: #f1f1f1;
  }

  &-thumb {
    border-radius: 8px;

    background-image: linear-gradient($blue, #1b81d4);

    &:hover {
      background-image: linear-gradient(#1b81d4, #1475c5);
    }
  }
}

// common styles

* {
  font-family: "Roboto";
  font-weight: 400;

  &::selection {
    color: #fff;

    background-color: $blue;
  }
}

body {
  padding-top: 80px;

  overflow-x: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

// blocks

.logo {
  display: flex;

  &__span {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
  }

  &__span--blue {
    color: $blue;
  }

  &__span--black {
    color: #000000;
  }

  &__span--white {
    color: #fff;
  }
}

.contacts-list {
  display: flex;

  &--header {
    margin: 0 0 0 auto;

    gap: 50px;
    align-items: center;
  }

  &--footer {
    gap: 9px;
    flex-direction: column;
  }

  &__contact {
    &--footer {
      width: 136px;
    }
  }

  &__link {
    color: #757575;

    display: flex;
    align-items: center;
    gap: 10px;

    transition: color $transition;

    &--header {
      font-weight: 500;
    }

    &:hover,
    &:focus {
      color: $blue;
    }

    &:hover .contacts-list__icon,
    &:focus .contacts-list__icon {
      fill: $blue;
    }
  }

  &__icon {
    fill: #757575;

    outline: none;

    transition: fill $transition;

    &--envelope {
      width: 16px;
      height: 12px;
    }

    &--tel {
      width: 10px;
      height: 16px;
    }
  }
}
