.gallery {
  padding: 0 0 94px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    border: 1px solid #eeeeee;

    flex-basis: calc((100% - 60px) / 3);
  }

  &__focus {
    transition: box-shadow $transition;

    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }

    &:hover > .gallary__overflow::before,
    &:focus > .gallary__overflow::before {
      top: 0;
    }

    &:hover .gallery__text,
    &:focus .gallery__text {
      top: 63px;
    }
  }

  &__box {
    padding: 20px 20px 20px 24px;
  }

  .gallary__overflow {
    position: relative;

    overflow: hidden;

    &::before {
      content: "";

      position: absolute;
      top: 294px;
      left: 0;

      display: block;
      width: 370px;
      height: 294px;

      background-color: rgba(33, 150, 243, 0.9);

      transition: top $transition;
    }
  }

  &__img {
    width: 368px;
    height: 294px;
  }

  &__text {
    position: absolute;
    top: 294px;
    left: 24px;

    max-width: 322px;

    color: #fff;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.54px;

    transition: top $transition;
  }

  &__title {
    margin: 0 0 4px;

    color: $text-color;
    font-size: 18px;
    letter-spacing: 0.06em;
    font-weight: 700;
    line-height: 2;
  }

  &__description {
    color: #757575;
    font-size: 16px;
    letter-spacing: 3%;
    line-height: 1.87;
  }
}
