/* шрифти */

* {
    font-family: 'Roboto';
}

header,
section,
footer {
    outline: solid green;
}

/* контейнер */

.container {
    outline: solid red;

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* секція хедер */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-logo2 {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.header-logo1 {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.header-page {
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.header-page:hover {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.header-page:focus {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.header-contact-link {
    color: #757575;
}

.header-contact-link:hover {
    color: #2196F3;
}

.header-contact-link:focus {
    color: #2196F3;
}

/* секція навігація */

.navigation-btn {
    color: #212121;
    letter-spacing: 0.03em;
    line-height: 1.62;
    border-radius: 4px;
    padding: 6px 25px;
    background-color: #F5F4FA;
}

.navigation-btn:hover {
    color: #FFFFFF;
    letter-spacing: 0.03em;
    line-height: 1.62;
    background-color: #2196F3;
    border-radius: 4px;
    padding: 6px 25px;
}

.navigation-btn:focus {
    color: #FFFFFF;
    letter-spacing: 0.03em;
    line-height: 1.62;
    background-color: #2196F3;
    border-radius: 4px;
    padding: 6px 25px;
}

/* секція галерея */

.gallery-img {
    width: 370px;
    height: 294px;
}

.gallery-title {
    color: #212121;
    font-size: 18px;
    letter-spacing: 0.06em;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 4px;
}

.gallery-description {
    color: #757575;
    font-size: 16px;
    letter-spacing: 3%;
    line-height: 1.87;
}

/* секція футер */

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo2 {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    margin-bottom: 20px;
}

.footer-logo1 {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    margin-bottom: 20px;
}

.footer-adress {
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.71;
    margin-bottom: 9px;
}

.footer-contact1 {
    color: rgba(255, 255, 255, 60%);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    margin-bottom: 9px;
}

.footer-contact2 {
    color: rgba(255, 255, 255, 60%);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}