body {
    font-family: 'Roboto';
}

.logo {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 3%;
    line-height: 1.19;
}

.header-logo {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 3%;
    line-height: 1.19;
}

.header-pages {
    list-style: none;
}

.header-page {
    color: #212121;
    font-size: 14px;
    letter-spacing: 2%;
    line-height: 1.14;
    text-decoration: none;
}

.header-page:hover {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 2%;
    line-height: 1.14;
    text-decoration: none;
}

.header-page:focus {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 2%;
    line-height: 1.14;
    text-decoration: none;
}

.header-contacts {
    list-style-type: none;
}

.header-contact-link {
    color: #757575;
    text-decoration: none;
}

.header-contact-link:hover {
    color: #2196F3;
    text-decoration: none;
}

.header-contact-link:focus {
    color: #2196F3;
    text-decoration: none;
}

.navigation-list {
    list-style-type: none;
}

.navigation-btn {
    color: #212121;
    letter-spacing: 3%;
    line-height: 1.62;
}

.navigation-btn:hover {
    color: #FFFFFF;
    letter-spacing: 3%;
    line-height: 1.62;
    background-color: #2196F3;
}

.navigation-btn:focus {
    color: #FFFFFF;
    letter-spacing: 3%;
    line-height: 1.62;
    background-color: #2196F3;
}

.images-list {
    list-style-type: none;
}

.images-img {
    width: 370px;
    height: 294px;
}

.images-title {
    color: #212121;
    font-size: 18px;
    letter-spacing: 6%;
    font-weight: 700;
    line-height: 2;
}

.images-description {
    color: #757575;
    font-size: 16px;
    letter-spacing: 3%;
    line-height: 1.87;
}

.footer {
    background-color: #2F303A;
}

.footer-logo {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 3%;
    line-height: 1.19;
}

.footer-adress {
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 3%;
    line-height: 1.71;
}

.footer-contacts {
    list-style-type: none;
}

.footer-contact {
    color: rgba(100, 100, 100, 60%);
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 1.71;
    text-decoration: none;
}