body {
    font-family: Roboto;
}

.logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 3%;
}

.first-header-logo-span {
    color: #2196F3;
}

.second-header-logo-span {
    color: black;
}

.nav-header {
    font-size: 14px;
    color: #212121;
    list-style-type: none;
    letter-spacing: 2%;
}

.nav-header:hover {
    font-size: 14px;
    color: #2196F3;
    list-style-type: none;
    letter-spacing: 2%;
}

.nav-header:focus {
    font-size: 14px;
    color: #2196F3;
    list-style-type: none;
    letter-spacing: 2%;
}

.mail-header {
    color: #757575;
    font-size: 14px;
    letter-spacing: 2%;
}

.mail-header:hover {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 2%;
}

.mail-header:focus {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 2%;
}

.tel-header {
    color: #757575;
    font-size: 14px;
    letter-spacing: 2%;
}

.tel-header:hover {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 2%;
}

.tel-header:focus {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 2%;
}

.btn-nav-list {
    list-style-type: none;
}

.btn-nav {
    font-size: 16px;
    color: #000000;
}

.btn-nav:hover {
    font-size: 16px;
    background-color: #2196F3;
    color: #FFFFFF;
}

.btn-nav:focus {
    font-size: 16px;
    background-color: #2196F3;
    color: #FFFFFF;
}

.photos-list {
    list-style-type: none;
}

.images-of-products {
    width: 370px;
    height: 294px;
}

.title-h2 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6%;
    line-height: 2;
}

.photo-description {
    color: #757575;
    letter-spacing: 3%;
    font-size: 16px;
    line-height: 1.87;
}

.footer {
    background-color: #2F303A;
}

.first-footer-logo-span {
    color: #2196F3;
}

.second-footer-logo-span {
    color: #FFFFFF;
}

.adress {
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 1.71;
}

.mail-footer {
    color: rgba(100, 100, 100, 60%);
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 1.71;
}

.tel-footer {
    color: rgba(100, 100, 100, 60%);
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 1.71;
}