body {
    font-family: 'Roboto';
}

.logo {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.header-logo {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.header-pages {
    list-style: none;
}

.header-page {
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
}

.header-page:hover {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
}

.header-page:focus {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
}

.header-contacts {
    list-style-type: none;
}

.header-contact-link {
    color: #757575;
    text-decoration: none;
}

.header-contact-link:hover {
    color: #2196F3;
    text-decoration: none;
}

.header-contact-link:focus {
    color: #2196F3;
    text-decoration: none;
}

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-transform: uppercase;
}

.hero-btn {
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.87;
    font-weight: 700;
    background-color: #2196F3;
}

.adventage-list {
    list-style-type: none;
}

.adventage-title {
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.14;
}

.adventage-description {
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

.classes-title {
    font-size: 36px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.16;
    color: #212121;
    text-align: center;
}

.classes-list {
    list-style-type: none;
}

.classes-img {
    width: 370px;
    height: 294px;
}

.team-title {
    font-size: 36px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.16;
    color: #212121;
    text-align: center;
}

.team-list {
    list-style-type: none;
}

.team-img {
    width: 270px;
    height: 260px;
}

.team-subtitle {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #212121;
    line-height: 1.18;
}

.team-description {
    color: #757575;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.18;
}

.footer {
    background-color: #2F303A;
}

.footer-logo {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

.footer-adress {
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

.footer-contacts {
    list-style-type: none;
}

.footer-contact {
    color: rgba(100, 100, 100, 60%);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    text-decoration: none;
}